.product-card{
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    width: 160px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.product-img{
    width: 100px;
    height: 100px;

}

.product-container{
    display: flex;
    flex-wrap: wrap;
}

.main-page{
    text-align: center;
}

.page-span{
    border: 1px solid black;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
}

.page-div{
    margin-bottom: 20px;
}